In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('inputs/data_storeproduct_202208111119.csv', usecols = ['id', 'name'])

In [3]:
df.shape

(820512, 2)

In [4]:
df.drop_duplicates(subset = 'name', inplace = True)

In [5]:
df.shape

(306052, 2)

In [6]:
df['name'] = df['name'].str.upper()

In [7]:
df['clean'] = df['name']

In [8]:
def remove_pairs(product, element):
    words = product.split(' ')

    for k, v in enumerate(words):
        if v == element:
            try:
                words.remove(words[k + 1])
                words.remove(v)
            except:
                pass
                
    return ' '.join(words)

In [9]:
predecessors = ['REF', 'C/', 'S/']

In [10]:
for i in predecessors:
    df['clean'] = df['clean'].apply(lambda x: remove_pairs(x, i))

In [11]:
df[df['id'].isin([458515, 355721, 356920])]

,id,name,clean
10,458515,BITUFO - PASSA FIO WAY C/ 30,BITUFO - PASSA FIO WAY
1371,355721,NOPLAK S/ ALCOOL 250ML,NOPLAK 250ML
1526,356920,KIT MAMADEIRA COLORS BICO RED REF 926 (CEFISA),KIT MAMADEIRA COLORS BICO RED (CEFISA)

In [12]:
df.to_csv('outputs/clean.csv', index = False)

---

In [ ]:
def remove_metrics(name):
    to_remove = []
    
    for word in name.split():
        if word[0].isdigit() and 'X' in word and word[-1] == 'M' :
            to_remove.append(word)

    if len(to_remove) > 0:
        return ''. join([name.replace(x, '') for x in to_remove])
    
    return name

In [ ]:
df['cleaned'] = df['cleaned'].apply(lambda x: remove_metrics(x))

In [ ]:
def remove_startswith(name):
    return lambda words: words.replace(''.join([x for x in words.split(' ') if x.startswith(name)]), '')

In [ ]:
startswith_ = ['(', 'REF', 'C/', 'S/', 'INTRAV', 'FPS']

In [ ]:
for name in startswith_:
    df['cleaned'] = df['cleaned'].apply(remove_startswith(name))

In [ ]:
def remove_endswith(name, numbers):
    return lambda words: words.replace(''.join([x for x in words.split(' ') if x.endswith(name) and x[:numbers].isdigit()]), '')

In [ ]:
endswith_ = {
    'G':    -len('G'),
    'L':    -len('L'),
    'UN':   -len('UN'),
    'ML':   -len('ML'),
    'GR':   -len('GR'),
    'CPS':  -len('CPS'),
    'VOL':  -len('VOL'),
    'CAP':  -len('CAP')
}

In [ ]:
for k, v in endswith_.items():
    df['cleaned'] = df['cleaned'].apply(remove_endswith(k, v))

In [ ]:
df['cleaned'] = df['cleaned'].str.strip()

In [ ]:
df['num_words'] = df['cleaned'].apply(lambda x: len(str(x).split(' ')))

In [ ]:
907

In [ ]:
df[
  df['id'].isin([
       52,  84,  48,  57,  58,  60,  76,  94, 77, 82, 83, 88, 
      122, 171, 174, 118, 102, 106, 116, 
    15876 
])].sort_values(by = 'id')

In [ ]:
df.sort_values(by = 'cleaned', inplace = True)

In [ ]:
df.to_csv('output.csv')

In [ ]:
# Metrics:
# 48869 - df['cleaned'].nunique() = 1.030

---

Tests:

---

To remove:

In [ ]:
df[
    df['id'].isin([
        63, 169, 103, 34583, 14875, 15533, 39337, 44093, 9199, 30037, 17121, 17119, 25317, 
        15904, 15234, 15233, 15970, 15311, 17191, 17873, 25319, 68787, 50478, 56784, 66572, 49697, 30049, 2950
])].sort_values(by = 'id')

---

To replace:

In [ ]:
# dict_ = {
#     'ABS': 'ABSORVENTE
# ',
#     'SAB': 'SABONETE',
#     'DES': 'DESODORANTE',
#     'ESC': 'ESCOVA',
#     'LOC': 'LOCAO',
#     'TRAD': 'TRADICIONAL',
#     'CURAT': 'CURATIVO',
# }

In [ ]:
unique_ = ['ML', 'PET']